.comments {
  margin: 0 $margin-small;
  display: flex;
  flex-wrap: wrap;
  color: $black;
  margin-bottom: 2.5rem; /* 40px */

  &__displayed {
    display: flex;
    flex-direction: column;
  }

  &__form-container {
    display: flex;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
  }

  &__header {
    @include mobile-header;
    margin: 2rem 0 2.5rem 0;
    width: 100%;
  }

  &__left {
    //circle container in comments
    width: 22%;
  }

  &__left--form {
    //container for circle in form
    display: flex;
    height: 20.5rem; /* 328px */
    width: fit-content;
  }

  &__left-circle {
    // profile picture circle on left
    height: 3rem;
    width: 3rem;
    background-color: $mercury;
    border-radius: 50%;
    margin: 1.25rem 1rem 0 0;
    overflow: hidden;
  }

  &__pic {
    max-width: 100%; //picture in new comment form
  }

  &__form-label {
    @include labels;
    color: $silver;
    text-transform: uppercase;
  }

  &__new-name {
    //text area for name
    height: 3rem;
    width: 14rem; /* 224px */
    border-radius: 4px;
    border: 1px $mercury solid;
    background-color: $alabaster;
    outline: none;
    padding-left: 1rem;
    font-family: avenir-next;
    margin-bottom: 1.5rem;
  }

  &__new-name:focus {
    border: $black solid 2px;
  }

  &__new-comment {
    //text area for comment
    height: 6rem;
    width: 14rem; /* 224px */
    border-radius: 4px;
    border: 1px $mercury solid;
    background-color: $alabaster;
    outline: none;
    padding: 1rem;
    font-family: avenir-next;
  }

  &__new-comment:focus {
    border: $black solid 2px;
  }

  &__submit {
    //submit button
    width: 14rem; /* 224px */
    background-color: $black;
    border: none;
    color: $white;
    border-radius: 4px;
    text-transform: uppercase;
    height: 3rem;
    @include mobile-subheader;
    margin: 1rem 0 2rem 0;
  }

  &__object {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    padding-bottom: 1.5rem;
  }

  &__top {
    display: flex;
    width: 78%;
    justify-content: space-between;
    height: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  &__bottom {
    margin-left: 22%;
  }

  &__name {
    @include mobile-subheader;
  }

  &__date {
    @include mobile-paragraph-lists;
    color: $silver;
  }

  &__comment {
    @include mobile-paragraph-lists;
  }
}

@include medium {
  .comments {
    margin: 0 $margin-medium;
    margin-bottom: 2.5rem;

    &__header {
      @include dt-header-h1;
    }

    &__form-container {
      margin: 0 6.25rem; /* 100px */
      width: 100%;
    }

    &__displayed {
      margin: 0 6.25rem; /* 100px */
    }

    &__form {
      width: 100%;
      flex-direction: column;
    }

    &__new-name {
      width: 100%;
    }

    &__new-comment {
      width: 100%;
    }

    &__form-submit {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &__submit {
      width: 10rem; /* 160px */
    }

    &__top {
      justify-content: flex-start;
    }

    &__left {
      width: fit-content;
    }

    &__bottom {
      margin-left: 4rem;
    }

    &__date {
      margin-left: 0.5rem;
      @include dt-paragraph;
    }

    &__name {
      @include dt-subheader;
    }

    &__comment {
      @include dt-paragraph;
    }
  }
}

@include huge {
  .comments {
    margin: 0 $margin-huge;
    margin-bottom: 2.5rem;
    justify-content: center;

    &__header {
      margin-top: 3rem;
      margin-bottom: 3.5rem;
    }

    &__displayed {
      margin: 0 6.25rem;
    }

    &__form {
      width: 43%;
    }

    &__form-container {
      width: 100%;
      margin: 0;
      justify-content: center;
    }

    &__new-name {
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      height: 3rem;
    }

    &__new-comment {
      height: 6rem;
    }

    &__submit {
      width: 10rem;
      margin-top: 1.5rem;
    }

    &__displayed {
      width: 49%;
      align-items: center;
      margin: 0;
    }

    &__left-circle {
      margin-top: 1.75rem;
    }
  }
}
