.hero {
  &__image {
    background: linear-gradient(
        /*background overlay as specified in spec sheet */ rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url("../assets/images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 11.437rem; /* 183px */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__title {
    color: $white;
    margin-left: $margin-small;
    @include mobile-header;
  }
}

@include medium {
  .hero {
    &__image {
      height: 25rem; /* 400px */
    }
    &__title {
      margin-left: $margin-medium;
      @include dt-hero-header;
      padding: 0.5rem 0; /* 8px 0*/
    }
  }
}

@include huge {
  .hero {
    &__image {
      height: 41.875rem; /* 670px */
    }
    &__title {
      margin-left: $margin-huge;
    }
  }
}
