$black: #323232;
$instock-blue: #004892;
$brainflix-blue-light: #0095ff;
$white: #ffffff;
$silver: #afafaf;
$instock-blue-dark: #002F5F;
$brainflix-blue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;