@font-face {
  font-family: avenir-next-bold;
  src: url("../../assets/global-font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../../assets/global-font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next;
  src: url("../../assets/global-font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

html,
body {
  margin: 0;
  font-family: 'avenir-regular', sans-serif;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 5rem;
  /* 80px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #ffffff;
}

.header__logo-container {
  /* used PNG file because all other options were different font  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5rem;
  /* 8px */
  padding-bottom: 1rem;
  /* 16px */
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.812rem;
  /* 45px */
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.187rem;
  /* 35px */
}

.header__nav-item {
  width: 50%;
  height: 100%;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.375rem;
  /* 22px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-item--active {
  border-bottom: 0.187rem solid #ffffff;
  /* 3px */
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo-container {
    width: 16.145%;
    /* 124px */
    margin-left: 24px;
    /* 24px */
    padding: 0;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__nav {
    width: 33.85%;
    /* 260px */
    height: 5rem;
    /* 80px */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 3rem;
    /* 48px */
  }
  .header__nav-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    width: 5rem;
    /* 80px */
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 180px;
    /* 180px */
  }
  .header__logo-container {
    width: 10.625rem;
    /* 170px */
    margin: 0;
  }
  .header__nav {
    width: 13.5rem;
    /* 216px */
    padding: 0;
  }
}

.hero__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url("../assets/images/hero-image.jpg");
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 183px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  color: #ffffff;
  margin-left: 16px;
  font-size: 24px;
  line-height: 32px;
}

@media only screen and (min-width: 768px) {
  .hero__image {
    height: 400px;
  }
  .hero__title {
    margin-left: 24px;
    font-size: 60px;
    line-height: 68px;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .hero__image {
    height: 670px;
  }
  .hero__title {
    margin-left: 180px;
  }
}

.about {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #323232;
}

.about__title {
  margin-top: 32px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.about__image-container {
  margin: 24px 0;
  width: 100%;
}

.about__image {
  width: 100%;
}

.about__bio {
  margin: 40px 0;
}

.about__quote {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.about__author {
  font-size: 14px;
  line-height: 22px;
}

.about__names {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.about__content {
  font-size: 13px;
  line-height: 18px;
}

.about__content--1 {
  margin: 24px 0;
}

@media only screen and (min-width: 768px) {
  .about {
    margin: 0 24px;
  }
  .about__title {
    font-size: 36px;
    line-height: 44px;
  }
  .about__image-container {
    min-height: 362px;
    /*didn't set height so would scale nicely */
    width: 100%;
  }
  .about__image {
    height: 100%;
    width: 100%;
  }
  .about__quote, .about__names {
    font-size: 24px;
    line-height: 32px;
  }
  .about__author {
    font-size: 16px;
    line-height: 24px;
  }
  .about__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__content {
    width: 48%;
    /* 348px -- not precise but wanted to use percentage here */
    font-size: 14px;
    line-height: 22px;
  }
  .about__content--1 {
    margin: 0;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .about {
    margin: 0 180px;
  }
  .about__desktop-margin {
    width: 81%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about__title {
    padding-top: 48px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .about__image-container {
    min-height: 450px;
    /* didn't set height so it would scale better */
    margin: 48px 0;
  }
  .about__image {
    width: 100%;
  }
  .about__quote {
    margin-bottom: 40px;
  }
  .about__bio {
    margin: 56px 0 48px 0;
  }
  .about__names {
    margin-bottom: 32px;
  }
}

.gallery {
  padding: 0 16px;
  background-color: #FAFAFA;
  color: #323232;
}

.gallery__title {
  font-size: 24px;
  line-height: 32px;
  padding: 32px 0 24px 0;
}

.gallery__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.gallery__image {
  width: 100%;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 24px;
  }
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
  }
  .gallery__image-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery__image {
    width: 31%;
    /* 224px changed for scale*/
    margin-bottom: 24px;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .gallery {
    padding: 0 180px;
  }
  .gallery__title {
    padding: 48px 0 64px 0;
  }
  .gallery__image-container {
    width: 100%;
  }
  .gallery__image {
    width: 32%;
  }
}

.footer {
  background-color: #323232;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  height: 700px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20%;
}

.footer__title {
  font-size: 36px;
  /* used bigger font size than specified on typography sheet, to match mock-up */
  line-height: 44px;
}

.footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: none;
}

.footer__contact-name {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
}

.footer__contact-info {
  font-size: 13px;
  line-height: 18px;
  margin: 16px 0;
}

.footer__all-rights-reserved {
  display: block;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 400px;
  }
  .footer__container-1 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__title {
    margin-right: 48px;
  }
  .footer__icon-container {
    width: 124px;
  }
  .footer__logo {
    display: inline-block;
    margin-left: auto;
  }
  .footer__container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footer__contact-container {
    width: 250px;
  }
  .footer__contact-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
  .footer__contact-info {
    font-size: 14px;
    line-height: 22px;
    margin: 16px 0;
  }
  .footer__copyright {
    margin-right: auto;
  }
  .footer__all-rights-reserved {
    display: inline;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 180px;
  }
  .footer__container-1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 48px 0 56px 0;
  }
  .footer__logo {
    width: 120px;
    height: 24px;
  }
  .footer__logo-image {
    width: 100%;
    height: 100%;
  }
  .footer__container-2 {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .footer__contact-container {
    margin-right: 25px;
  }
  .footer__contact-name {
    margin-bottom: 24px;
  }
  .footer__copyright {
    margin: 40px 0;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */