@font-face {
  font-family: avenir-next-bold;
  src: url("../assets/global-font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../assets/global-font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next;
  src: url("../assets/global-font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

/* Mobile (small) fonts */
/* Desktop and tablet (medium and huge) fonts */
/* whole page margins for different breakpoints */
html,
body {
  margin: 0;
  font-family: "avenir-next", sans-serif;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  /*to avoid horizontal scroll */
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 5rem;
  /* 80px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #ffffff;
}

.header__logo-container {
  /* used PNG file because all other options were different font  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5rem;
  /* 8px */
  padding-bottom: 1rem;
  /* 16px */
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.812rem;
  /* 45px */
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.187rem;
  /* 35px */
}

.header__nav-item {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.375rem;
  /* 22px */
  font-family: "avenir-next-demi";
}

.header__nav-item:hover {
  font-style: italic;
}

.header__nav-item--active {
  border-bottom: 0.187rem solid #ffffff;
  /* 3px */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo-container {
    width: 16.145%;
    /* 124px */
    margin-left: 24px;
    /* 24px */
    padding: 0;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__nav {
    width: 33.85%;
    /* 260px */
    height: 5rem;
    /* 80px */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 3rem;
    /* 48px */
  }
  .header__nav-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-family: "avenir-next-demi";
    width: 5rem;
    /* 80px */
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 180px;
    /* 180px */
  }
  .header__logo-container {
    width: 10.625rem;
    /* 170px */
    margin: 0;
  }
  .header__nav {
    width: 13.5rem;
    /* 216px */
    padding: 0;
  }
}

.footer {
  background-color: #323232;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  height: 43.75rem;
  /* 700px */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20%;
}

.footer__title {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.75rem;
  /* 44px */
  font-family: "avenir-next-bold";
  /* used bigger font size than specified on typography sheet, to match mock-up */
}

.footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: none;
}

.footer__contact-name {
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.375rem;
  /* 22px */
  font-family: "avenir-next-demi";
  font-weight: bold;
}

.footer__contact-info {
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  margin: 1rem 0;
  /* 16px 0 */
}

.footer__email-link {
  color: #ffffff;
}

.footer__all-rights-reserved {
  display: block;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 25rem;
    /* 400px 0 */
  }
  .footer__container-1 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__title {
    margin-right: 3rem;
    /* 48px */
  }
  .footer__icon-container {
    width: 7.75rem;
    /* 124px */
  }
  .footer__logo {
    display: inline-block;
    margin-left: auto;
  }
  .footer__container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footer__contact-container {
    width: 35%;
    /* 250px */
  }
  .footer__contact-name {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-family: "avenir-next-demi";
    font-weight: bold;
  }
  .footer__contact-info {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
    margin: 1rem 0;
  }
  .footer__contact-info--email {
    margin-bottom: 0;
  }
  .footer__copyright {
    margin-right: auto;
  }
  .footer__all-rights-reserved {
    display: inline;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 180px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__container-1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 3rem 0 3.5rem 0;
    /* 48px 0 56px 0 */
  }
  .footer__logo {
    width: 7.5rem;
    /* 120px */
    height: 1.5rem;
    /* 24px */
  }
  .footer__logo-image {
    width: 100%;
    height: 100%;
  }
  .footer__container-2 {
    width: 75%;
  }
  .footer__contact-container {
    margin-right: 1.562rem;
    /* 25px */
  }
  .footer__contact-name {
    margin-bottom: 1.5rem;
    /* 24px */
  }
  .footer__copyright {
    margin: 2.5rem 0;
    /* 40px 0 */
    width: 100%;
  }
}

.hero__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url("../assets/images/shows-hero-image.jpg");
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/shows-hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 29.5rem;
  /* 472px */
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 16px;
}

.hero__title-small {
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.375rem;
  /* 22px */
  font-family: "avenir-next-demi";
  color: #ffffff;
  margin: 4rem 0 1rem 0;
  /* 64px 0 16px 0 */
}

.hero__title {
  color: #ffffff;
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.75rem;
  /* 44px */
  font-family: "avenir-next-bold";
  line-height: 48px;
  margin-bottom: 2rem;
  /* 32px */
}

.hero__iframe {
  height: 100px;
  width: 100%;
}

.hero__iframe-content {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 768px) {
  .hero__image {
    height: 41.875rem;
    /* 670px */
    padding: 0 24px;
  }
  .hero__title-small {
    margin: 6rem 0 1.5rem;
    /* 96px 0 24px */
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    font-family: "avenir-next-bold";
  }
  .hero__title {
    font-size: 3.75rem;
    /* 60px */
    line-height: 4.25rem;
    /* 68px */
    font-family: "avenir-next-bold";
    margin-bottom: 4rem;
    /* 64px */
  }
  .hero__title-break {
    display: block;
  }
  .hero__iframe {
    height: 166px;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .hero__image {
    height: 41.875rem;
    /* 670px */
    padding: 0 180px;
  }
  .hero__title-small {
    margin-top: 160px;
  }
  .hero__title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero__title {
    margin: 0;
    width: 60%;
  }
  .hero__iframe {
    margin-left: 64px;
    width: 40%;
  }
}

.shows {
  margin: 0 16px;
  color: #323232;
}

.shows__labels {
  display: none;
}

.shows__title {
  font-size: 1.5rem;
  /* 24px */
  line-height: 2rem;
  /* 32px */
  font-family: "avenir-next-bold";
  color: #323232;
  margin: 32px 0 40px 0;
}

.shows__date, .shows__venue, .shows__location {
  font-size: 0.75rem;
  /* 12px */
  line-height: 1.25rem;
  /* 20px */
  font-family: "avenir-next-demi";
  text-transform: uppercase;
  color: #afafaf;
  margin-top: 1.5rem;
}

.shows__date-content {
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.375rem;
  /* 22px */
  font-family: "avenir-next-demi";
  margin: 1rem 0 1.5rem 0;
}

.shows__venue-content, .shows__location-content {
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  margin: 1rem 0 1.5rem 0;
}

.shows__button {
  background-color: #323232;
  color: #ffffff;
  border-radius: 4px;
  width: 100%;
  border: none;
  height: 48px;
  margin-bottom: 1rem;
}

.shows__info {
  border-bottom: 2px solid #E1E1E1;
}

.shows__info-container {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .shows {
    margin: 0 24px;
  }
  .shows__title {
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.75rem;
    /* 44px */
    font-family: "avenir-next-bold";
  }
  .shows__labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  .shows__label-container {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shows__label {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1.25rem;
    /* 20px */
    font-family: "avenir-next-demi";
    color: #afafaf;
  }
  .shows__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shows__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .shows__el-container {
    width: 25%;
  }
  .shows__date-content, .shows__venue-content, .shows__location-content {
    width: 100%;
    margin: 0;
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.375rem;
    /* 22px */
  }
  .shows__date, .shows__venue, .shows__location {
    display: none;
  }
  .shows__button {
    width: 25%;
    margin: 0;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .shows {
    margin: 0 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shows__title {
    height: 100%;
    width: 25%;
    margin-top: 3rem;
  }
  .shows__labels {
    margin-top: 3rem;
  }
  .shows__right {
    width: 75%;
  }
  .shows__button {
    width: 10rem;
    height: 3rem;
    margin-left: auto;
  }
}
/*# sourceMappingURL=shows.css.map */